<!doctype html>
<html ng-app="myApp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>

        <style>
            body{
                margin: 0;
                font-family: Sans-Serif;
            }
            *{
                box-sizing: border-box;
            }


            .noselect {
                -webkit-touch-callout: none; /* iOS Safari */
                -webkit-user-select: none; /* Safari */
                -khtml-user-select: none; /* Konqueror HTML */
                -moz-user-select: none; /* Firefox */
                    -ms-user-select: none; /* Internet Explorer/Edge */
                        user-select: none; /* Non-prefixed version, currently
                                            supported by Chrome and Opera */
            }                   

            .board{
                width: 100vw;
                height: 100vw;
                position: relative;
                border: 1px solid black;
                z-index: 1;
            }

            .empower, .surface, .brick, .ball{
                position: absolute;
                z-index: 1;
            }

            .ball{
                width: 2.5vw;
                height: 2.5vw;
                background-image: url(ball.png);
                background-size: cover;
            }

            .brick{
                width: 5vw;
                height: 2.5vw;             
                background-color: blue;
            }

            .empower{
                width: 2.5vw;
                height: 2.5vw;             
                background-color: coral;
            }
            

            .surface{
                background-image: url(plane.png);
                width: 20vw;
                height: 7vw;
                background-size: cover;
            }

            .tap-left{
                position: fixed;
                left: 0;
                top: 0;
                bottom: 0;
                width: 50%;
                z-index: 99;
            }

            .tap-right{
                position: fixed;
                right: 0;
                top: 0;
                bottom: 0;
                width: 50%;
                z-index: 99;
            }      

            header{
                display: block;
                padding: 20px 5px;
                background-color: #333;
            }

            header span{
                display: block;
                color: white;
            }

            header span.title{
                text-align: center;
                font-weight: bold;
            }

            header span.length{
                text-align: center;
            }                  

            /*@media all and (orientation: landscape){
                .board{
                    width: 100vh;
                    height: 100vh;
                } 
            }*/

        </style>

        <main ng-controller="ArkanoidCtrl" class="noselect">

            <header>
                <span class="title">Balls on a Plane</span>
                <!--<span class="length">Points: {{points}}</span>-->
                <span class="length">{{direction || '--'}}</span>
            </header>



            <div class="board noselect" id="board">

                <div class="ball noselect" id="ball"
                    ng-style="{
                        bottom: ball.top + 'vw',
                        left: ball.left + 'vw'
                    }"
                ></div>

                <div class="surface noselect"
                    ng-style="{
                        bottom: surface.top + 'vw',
                        left: surface.left + 'vw'
                    }"                
                ></div>              


                <div class="brick noselect"
                    ng-repeat="brick in bricks"
                    ng-style="{
                        bottom: brick.top + 'vw',
                        left: brick.left + 'vw'
                    }"                
                ></div>

                <div class="empower noselect"
                    ng-repeat="empower in empowers"
                    ng-style="{
                        bottom: empower.top + 'vw',
                        left: empower.left + 'vw'
                    }"                
                ></div>                

            </div>

            <div class="tap-left noselect" hm-press="goLeft()" hm-pressup="stopLeft()" hm-recognizer-options='[{"type":"press","time":1}, {"type":"tap","time":1,"interval":1}]' ></div>
            <div class="tap-right noselect" hm-press="goRight()" hm-pressup="stopRight()" hm-recognizer-options='[{"type":"press","time":1}, {"type":"tap","time":1,"interval":1}]' ></div>


        </main>

        <script src="lib/hammer.min.js"></script>
        <script src="lib/angular.min.js"></script>
        <script src="lib/angular.hammer.min.js"></script>

        <script>

            angular.module('myApp', ['hmTouchEvents'])

            .controller('ArkanoidCtrl', function($scope, $interval){

                var board_width = 100;
                var empower_width= 2.5;
                var bricks;
                var game_loop;
                var to_radians = Math.PI / 180;
                var far_from_the_center;

                var surface_top = 3;
                var surface_left = board_width/2 - 9;   

                $scope.points = 0;              

                $scope.ball = {
                    top: 30,
                    left: 30,
                    width: 2.5,
                    height: 2.5,
                    speed: 1,
                    angle: 135
                }

                $scope.surface = {
                    top: surface_top,
                    left: surface_left,
                    width: 20,
                    height: 2.5,
                }

                $scope.empowers = [];

                $scope.bricks = []

                for(var i = 0; i < 9; i++){
                    $scope.bricks.push(
                        {
                            top: 60,
                            left: 10*i + 5,
                            width: 5,
                            height: 5
                        }
                    )
                }

                for(var i = 0; i < 9; i++){
                    $scope.bricks.push(
                        {
                            top: 70,
                            left: 10*i + 2,
                            width: 5,
                            height: 5
                        }
                    )
                }   

                for(var i = 0; i < 9; i++){
                    $scope.bricks.push(
                        {
                            top: 80,
                            left: 10*i + 5,
                            width: 5,
                            height: 5
                        }
                    )
                }                             





                function start(){
                    
                    game_loop = $interval(function(){

                        $scope.ball.top += (Math.round(Math.sin($scope.ball.angle * to_radians) * $scope.ball.speed * 100) / 100)
                        $scope.ball.left += (Math.round(Math.cos($scope.ball.angle * to_radians) * $scope.ball.speed * 100) / 100)
                                 
                        if(isDead()){
                            alert('dead');
                            $interval.cancel(game_loop)
                        }

                        if(collidesWithTop()){
                            $scope.ball.angle = $scope.ball.angle * -1
                        }

                        if(collidesWithLeft()){
                            if($scope.ball.angle < 0){
                                $scope.ball.angle = -180 - $scope.ball.angle
                            }else{
                                $scope.ball.angle = 180 - $scope.ball.angle
                            }
                        }

                        collidesWithThePlatform()
                        
                        explodeBricks()

                        fallEmpowers()

                        movePlatform()

                    }, 1000 / 60)
                }

                $scope.goLeft = function(){
                    $scope.direction = 'left'
                    if(!game_loop) start();          
                }

                $scope.goRight = function(){
                    $scope.direction = 'right'
                    if(!game_loop) start();
                }   

                $scope.stopLeft = function(){
                    if($scope.direction == 'left') $scope.direction = null
                }

                $scope.stopRight = function(){
                    if($scope.direction == 'right') $scope.direction = null
                }                
              

                function isDead(){
                    return $scope.ball.top <= $scope.ball.width*-1
                }

                function collidesWithTop(){
                    return $scope.ball.top >= board_width - $scope.ball.width
                }

                function collidesWithLeft(){
                    return $scope.ball.left <= 0 || $scope.ball.left >= board_width - $scope.ball.width
                }

                function collidesWithRight(){
                    return $scope.ball.left >= board_width - $scope.ball.width
                }     

                function collidesWithThePlatform(){
                    if(collides($scope.surface, $scope.ball)){
                        //si colisiono en el centro invertir top +0
                        //si colisiono en el extremo izquierda invertir top +90
                        //si colisiono en el extremo derecha invertir top -90

                        $scope.ball.angle = $scope.ball.angle * -1

                        var surface_center = $scope.surface.left + $scope.surface.width/2;
                        var ball_center = $scope.ball.left + $scope.ball.width/2;

                        var degrees = (surface_center - ball_center) * 90 / $scope.surface.width/2

                        $scope.ball.angle += degrees;             
                    }       
                }


                function movePlatform(){
                    if($scope.direction === 'left'){
                        $scope.surface.left = $scope.surface.left >= 1 ? $scope.surface.left-1 : $scope.surface.left
                    }else if($scope.direction === 'right'){
                        $scope.surface.left = $scope.surface.left <= board_width - $scope.surface.width -1 ? $scope.surface.left + 1 : $scope.surface.left
                    }                    
                }


                function explodeBricks(){
                    for(i = 0; i < $scope.bricks.length; i++){

                        if(collides($scope.ball, $scope.bricks[i])){

                            //si la diferencia de top es menor a la diferencia de left, choco horizontalmente
                            if(Math.abs($scope.ball.top - $scope.bricks[i].top) <= Math.abs($scope.ball.left - $scope.bricks[i].left)){
                                if($scope.ball.angle < 0){
                                    $scope.ball.angle = -180 - $scope.ball.angle
                                }else{
                                    $scope.ball.angle = 180 - $scope.ball.angle
                                }    
                            }

                            //si la diferencia de top es mayor a la diferencia de left, choco verticalmente
                            if(Math.abs($scope.ball.top - $scope.bricks[i].top) > Math.abs($scope.ball.left - $scope.bricks[i].left)){
                                $scope.ball.angle = $scope.ball.angle * -1
                            }                            

                            
                            addEmpower($scope.bricks[i].top, $scope.bricks[i].left + $scope.bricks[i].width /2 - empower_width/2 )

                            $scope.bricks.splice(i, 1);

                        }                        

                    }
                }  

                function fallEmpowers(){
                    var to_remove = [];
                    var i;
                    for(i = 0; i < $scope.empowers.length; i++){

                        $scope.empowers[i].top -= 0.5;

                        //out of the board
                        if($scope.empowers[i].top <= 0){
                            to_remove.push(i);
                        }

                        //collides with the platform
                        if(collides($scope.surface, $scope.empowers[i])){
                            $scope.points++;
                            to_remove.push(i);
                        }                        
                    }

                    
                    for(i = 0; i < to_remove.length; i++){
                        $scope.empowers.splice(to_remove[i], 1);
                    }
                }

                function addEmpower(t, l){

                    $scope.empowers.push({
                        width: 2.5,
                        height: 2.5,
                        top: t,
                        left: l
                    })

                }

                function collides(rect1, rect2){

                    if (rect1.left < rect2.left + rect2.width &&
                    rect1.left + rect1.width > rect2.left &&
                    rect1.top < rect2.top + rect2.height &&
                    rect1.height + rect1.top > rect2.top) {
                        return true;
                    }

                    return false;

                }                                         



            })


        </script>

    </body>
</html>